<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Copyright (c) 2018.
  ~ This code is released under The 3-Clause BSD License.
  ~ https://github.com/techpavan
  -->

<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <append>false</append>
        <file>mvn-repo-cleaner.log</file>
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="FILE"/>
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>